<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Error 404 - Página no encontrada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">

    <div class="error-page">
        <div class="blob blob-1"></div>
        <div class="blob blob-2"></div>
        <div class="blob blob-3"></div>

        <div class="error-container">
            <span class="error-icon">
                <animated-icons
                    src="/static/icons/chicken-9dc79d27.json"
                    trigger="loop"
                    attributes='{"variationThumbColour":"#536DFE","variationName":"Two Tone","variationNumber":2,"numberOfGroups":2,"backgroundIsGroup":false,"strokeWidth":1.5,"defaultColours":{"group-1":"#000000","group-2":"#E07A52FF","background":"#FFFFFF"}}'
                    height="100"
                    width="100"
                    ></animated-icons>
            </span>
            <h1 class="error-code">404</h1>
            <h2 class="error-title">¡Ups! Nos comimos esta página</h2>
            <p class="error-msg">
                Parece que la página que buscas no existe, ha cambiado de lugar o el panadero se la llevó. ¿Qué te
                parece si
                volvemos al inicio?
            </p>
            <a href="{{ url_for('login') }}" class="btn-home">
                    <animated-icons
                        src="/static/icons/login-e611dfb8.json"
                        trigger="loop"
                        attributes='{"variationThumbColour":"#536DFE","variationName":"Two Tone","variationNumber":2,"numberOfGroups":2,"backgroundIsGroup":false,"strokeWidth":1.5,"defaultColours":{"group-1":"#000000","group-2":"#E07A52FF","background":"#FFFFFF"}}'
                        height="40"
                        width="40"
                    ></animated-icons>Volver al inicio
            </a>
        </div>
    </div>
</body>
<script src="https://animatedicons.co/scripts/embed-animated-icons.js"></script>
</html>